body{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Outfit', sans-serif;
}

.container{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}


.header{
    margin-bottom: 35px;
    width: 100%;
    display: flex;
}


.logo{
    width: 20%;
    height: 20%;
}

.main{
    margin-bottom: 70px;
    text-align: center;
}

.dati{
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 50px;
}

.dati *{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.esito{
    font-size: 3rem;
}

.questions{
    font-size: large;
}

.perc{
    font-size: 3rem;
    font-weight: bold;
}

.bordo{ 
    display: flex;
    align-items: center;
    text-align: center;
    border: 30px solid #00ffff;
    border-radius: 50%;
    width: 220px;
    height: 220px;
}


.sinistra *{
    margin: 0;
}

.sinistra {
    line-height: 50px;
    margin-right: 0;
}

.destra *{
    text-align: end;
    margin: 0;
}

.destra {
    line-height: 50px;
}


.frase{
    font-size: large;
}


.rate{
    text-decoration: none;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 20px;
    border: 2px solid white;
}

.sottotitolo{
    color: white;
    margin-top: 0;
    font-size: 2em;
}

.title{
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 0;
}

.pulsante{
    margin-left: auto;
    margin-right: auto;
    color: white;
    background: transparent;
    text-align: center;
}






