body {
    background: url(assets/img/bg.jpg) no-repeat center center;
    background-size: cover;
    color: white;
    font-family: 'Outfit', sans-serif;
}

.container {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}

.header {
    margin-bottom: 35px;
    width: 100%;
}

.logo {
    width: 20%;
    height: 20%;
}

.title-wrapper {
    margin-bottom: 3rem;
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 2em;
}

.results {
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.results__left {
    text-align: left;
}

.results__right {
    text-align: right;
    opacity: 0.8;
}

.results__left,
.results__right {
    width: 20%;
}

.results__title,
.results__percent {
    font-size: 3rem;
}

.results__percent {
    font-weight: bold;
}

.results__questions {
    font-size: 1rem;
    font-weight: 300;
}

.results__left p,
.results__right p {
    margin-bottom: 5px;
}

.results__center {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 40px solid #00ffff;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 30px;
}

.results__text {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1;
}

.results__text b {
    font-weight: 700;
}

.results__text .bold-color {
    color: #00ffff;
}

.results__text p {
    font-size: 13px;
    font-weight: 300;
    margin-top: 1.2rem;
}

.btn-rate {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    padding: 15px 60px;
    font-size: 20px;
    border: 2px solid #fff;
    font-weight: 700;
    display: block;
    margin: 0 auto;
}