*{
   font-family: 'Inter', sans-serif;
   box-sizing: border-box;
   font-size: 16px;
}
h1{
   font-family: 'Outfit', sans-serif; 
   font-weight: 400;
}
input, label{font-family: 'Inter', sans-serif;}
body{
   width: 100%;
   min-height: 100vh;
   background: url('../img/bg.jpg') no-repeat center center;
   background-size: cover;
   color: #fff;
   font-family: 'Inter', sans-serif;
}
.container{
   width: 80%;
   margin: 0 auto;
}
.question{
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100vh;
   width: 100%;
}
.title{
   font-family: 'Outfit', sans-serif; 
   font-weight: 400;
   font-size: 60px;
   text-align: center;
   max-width: 60%;
   margin: 0 auto;
   margin-bottom: 2rem;
}
.answers{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 2rem;
}
.answer{
   flex-basis: 40%;
   text-align: center;
}
.answer input{
   display: none;
}
.answer label{
   display: inline-block;
   padding: 1.2rem 6rem;
   text-align: center;
   margin: 0 auto;
   border: 2px solid #fff;
   background-color: rgba(255,255,255,0.1);
   border-radius: 40px;
   min-width: 260px;
}
.bench-footer{
   justify-items: flex-end;
   align-self: center;
   margin-top: 50px;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 2px;
}
.bench-footer span{
   color: #D20094;
}
